html,
body {
  background-color:darkslateblue;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fun-footer {
  background-color: deeppink;
  position:fixed;
  bottom:0;
  width:100%;
  color:white;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-color {
  background-color:darkslateblue
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:darkorchid
}

.cardImg {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.choicesButton {
  width: 10rem !important;
}

.card-body-ad {
  border: 1px solid darkslateblue
}